.service-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-inline: 120px;
  }
  
  .service-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .service-title {
    font-size: 28px;
    margin-bottom: 10px;
    
  }
  
  .service-description {
    font-size: 16px;
    margin-bottom: 20px; 
    padding-top: 10px;
  }
  
  .back-button {
    font-size: 24px;
    padding-bottom: 40px;
  }
  
  .service-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 2px;
    gap: 50px;
  }
  
  .service-button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .service-card {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    justify-content: center;
    border-radius: 25px;
    padding: 0 10px 10px;
    text-align: center;
    width: fit-content;
    
    margin-bottom: 40px;
    
  }

  .service-button-container {
    display: flex;
    justify-content: center;
}

.image-container {
    width: 100px;
    height: 150px;
   
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    
}