.section {
    margin-block: 3rem;
    max-width: max-content;
}

.container {
    margin-inline: 12rem;
}

.container-r {
    margin-bottom: 1rem;
}

.sort-result h2 {
    font-size: 22px;
}

.sort-result span {
    font-weight: 600;
}

.sort {
    margin-block: 1rem;
    display: flex;
    align-items: center;
}
.sort p, a {
    font-size: 16px;
}
.sort a {
    margin-left: 1rem;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 15px
}
